.pool-box{
    width: 100%;
}
.pool-box>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
}
.pool-box .text {
    display: flex;
    white-space: nowrap;
    align-items: center;
    width: 50%;
    /* align-items: center; */
    /* flex-direction: column; */
}
.pool-box .text>span:nth-child(1),
.pool-box .input>span{
    color: #4a4747;
    font-size: 16px;
}
.pool-box .text>span:nth-child(2){
    font-size: 18px;
    margin-left: 8px;
}

.pool-box .input {
    margin-top: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
}